.card__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.card__img img {
  width: 200px;
  border-radius: 10px;
}

.card__name {
  color: #851797;
  margin: 15px 0;
}

.card__skill {
  font-weight: lighter;
  color: #5a5a5a;
}
